.title{
    color: #1C3048;
    font-size: 38pt;
    font-weight: bolder;
    position: absolute;
    top: 12%;
    left: 17%;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    z-index: -1;
}

.div_inicial{
    z-index: -1;
    position: absolute;
    left: 13%;
    top: 28%;
    width: 73%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    border-radius: 10px;
    text-align: justify;
}

.text_inicial{
    color: #1C3048;
    font-size: 20pt;
    font-weight: 700;
}

.div_listar{
    background-color: #343A40;
    position: absolute;
    left: 35%;
    top: 20%;
    min-width: 37%;
}

.div_form{
    position: absolute;
    left: 30%;
    top: 15%;
    width: 42%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    border-radius: 10px;
}

.sub_title_form{
    font-size: 17px;
    font-weight: bolder;
}

.title_form{
    font-family: 'Chivo';
    color: black;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
}

.roupa_container{
    z-index: -1;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    border-radius: 10px;
}

.roupa{
    z-index: -1;
    background-color: #1C3048;
    float: left;
    height: 450px;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 10px;
}

.roupa:hover{
    background-color: #013c85;
}

.div_creditos{
    color: rgb(255, 255, 255);
    top: 95%;
    width: 100%;
    margin-top: 41%;
    margin-left: 1%;
}

.new_roupa{
    position: relative;
    top: 53%;
    left: 36%;
}

.dropdown-item{
    color: white;
}

.title_aviso{
    font-size: 50pt;
}

.image-position{
    position: relative;
    margin-left: 20%;
    margin-top: 2%;
    width: 300px;
    height: 300px;
}

.img_roupa{
    position: relative;
    max-width: 300px;
    max-height: 300px;
}

.nome_roupa{
    font-size: 13pt;
    color: rgb(255, 255, 255);
    margin-left: 3%;
    margin-top: 4%;
}

.preco_roupa{
    position: relative;
    margin-left: 5%;
    font-size: 15pt;
    color: rgb(255, 255, 255);
}

.action_roupa{
    position: relative;
    top: 3%;
    margin-top: 2%;
    margin-left: 5%;
    width: 100%;
}

.shadow_edit{
    box-shadow: 0px 0px 10px rgb(0, 38, 255);
}

.shadow_delete{
    box-shadow: 0px 0px 10px rgb(253, 0, 0);
}

.shadow_show{
    box-shadow: 0px 0px 10px rgb(51, 182, 58);
}

.show_roupa_container{
    background-image: linear-gradient(#1C3048, rgb(9, 117, 250));
    border-radius: 10px;
    position: absolute;
    left: 25%;
    top: 13%;
    width: 70%;
    height: 70%;
}

.show_image{
    position: absolute;
    top: 12%;
    max-width: 400px;
    max-height: 400px;
}

.div_show_image{
    position: absolute;
    left: 69%;
    top: 7%;
}

.show_title_roupa{
    color: rgb(253, 253, 253);
    font-size: 25pt;
    margin-left: 12%;
    margin-top: 1%;
}

.div_conteudo_roupa_show{
    word-wrap: break-word;
    background-image: linear-gradient(rgba(190, 189, 189, 0.87), rgba(105, 105, 105, 0.897));
    margin-left: 2%;
    width: 40%;
    border-radius: 10px;
}

.conteudo_roupa_show{
    color: black;
    margin-left: 3%;
    margin-right: 3%;
}

.preco_roupa_show{
    position: relative;
    color: rgb(0, 0, 0);
    left: 20%;
    top: 13%;
    width: 75%;
    height: 70%;
}

.image_edit{
    margin-left: 2%;
    width: 150px;
    height: 150px;
}


/************************************************/


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 240, 240);

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.icons{
    position: relative;
    margin-right: 3%;
}


.icone_instagram{
    width: 30px;
    height: 30px;
    margin-left: 5%;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    position: fixed;
    display: flex;
    width: 20%;
    
}

#sidebar {
    margin-left: -250px;
    min-width: 250px;
    max-width: 250px;
    background: #1C3048;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: 0.1%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1C3048;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #1C3048;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1C3048;
    background: #fff;
}

#sidebar ul,
a[aria-expanded="true"] {
    color: #fff;
    background: #1C3048;
}

li.active>a{
    color: #1C3048 ;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1C3048;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #1C3048;
}

a.article,
a.article:hover {
    background: #1C3048 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}